body {
    min-height: 100vh;
    background-color: #fefaef !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

.border-radius-card {
    border-radius: 0.75rem !important;
}

.card-left {
    width: 20% !important;
    display: flex;
    justify-content: center;
}

.blue-bg {
    background-color: #27355c;
    border-top-left-radius: 0.75rem;
    border-bottom-left-radius: 0.75rem;
}

.card-footer-bottom {
    display: flex;
    justify-content: space-between;
}

.btn-primary {
    background-color: #27355c !important;
    border-color: #27355c !important;
}

.quiz-answer-cards:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.05);
}

.bg-success,
.bg-danger {
    color: white;
}

.brain-logo {
    width: 80px;
    height: 80px;
    object-fit: contain;
    margin-top: 1rem;
}

.margin-rightside {
    margin-right: -6rem !important;
}


/* End-Screen */

.endscreen {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}

.quiz-img {
    height: 130px;
    width: 130px;
    object-fit: contain;
}

.endscreen-score {
    text-align: center;
    margin-top: 0.5rem;
}

.endscreen-complete {
    text-align: center;
    margin-top: 0.25rem;
}

.trophy {
    position: absolute;
    right: 0;
}

.button-div {
    display: flex;
    justify-content: flex-end;
    margin-top: 5rem;
}